@import 'tailwindcss';

*{
    box-sizing: border-box;
}

html, body{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.modal-bg{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-body{
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    min-width: 300px;
}

/* Скрывает стандартный крестик в Chrome, Safari, Edge */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* Скрывает стандартный крестик в Internet Explorer / Edge */
input::-ms-clear,
input::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
}